.categoryDetails {
  text-align: left;
}

.alert {
  position: fixed !important;
  top: 15px;
  left: 40%;
  z-index: 2;
  background-color: white !important;
  color: black !important;
  border: 1px solid black !important;
}

.categoryDetails img {
  height: 700px;
}

.categoryDetails a:hover {
  color: var(--text-secondary);
  text-decoration: underline;
}

.categoryDetails h2,
.categoryDetails h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 530px) {
  .alert {
    left: 30%;
    font-size: 13px;
  }
  .categoryDetails img {
    height: 520px;
  }
}
