/* Adaugam variabile globale: */
:root {
  --text-dark: #2b2922;
  --bg-secondary-dark: #230330;
  --bg-dark: #392b3b;
}

/* Resetam proprietati default: */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-dark);
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--bg-dark);
}

/* Customizam Bootstrap: */

.text-primary {
  color: #101d42 !important;
}

.text-secondary {
  color: #fbb44c !important;
}

.text-light {
  color: #030303 !important;
}

.text-dark {
  color: #2b2922 !important;
}

.bg-primary {
  background-color: #ffffff !important;
}

.bg-secondary {
  background-color: #dfedf5 !important;
}

.bg-dark {
  background-color: #ffffff !important;
}

h1,
h2,
h3 {
  font-weight: bold;
}
