/* Adaugam variabile globale: */
:root {
  --text-dark: #2b2922;
  --bg-secondary-dark: #0e0e0e;
  --bg-dark: #000000;
}

/* Resetam proprietati default: */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-dark);
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--bg-dark);
}

/* Customizam Bootstrap: */

.bg-dark {
  background-color: var(--bg-secondary-dark) !important;
}
